<div class="row justify-content-center">
    <div class="col-4">
        <div class="card o-hidden border-0 shadow-lg mt-5">
            <h4 class="card-header text-center">REGISTER</h4>
            <div class="card-body ">
                <!-- Nested Row within Card Body -->
                    <form  (ngSubmit)="newUser(LoginForm)" #LoginForm='ngForm'>
                        <div class="form-group row mb-2">
                            <label for="email" class="col-sm-6 col-form-label" required>EMAIL:</label>
                            <div class="col-sm-6">
                                
                            <input type="email" class="form-control " name="email" placeholder="email"
                            [(ngModel)]="usr_Registrate.email">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="name" class="col-sm-6 col-form-label" >NAME: </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control form-control-user" name="name" placeholder="name"
                                [(ngModel)]="usr_Registrate.name">
                            </div>

                        </div>
                        <div class="form-group row mb-2">
                            <label for="lastname" class="col-sm-6 col-form-label" >LAST NAME: </label>
                            <div class="col-sm-6">

                                <input type="text" class="form-control form-control-user" name="lastname"
                                placeholder="lastname" [(ngModel)]="usr_Registrate.lastName">
                            </div>

                        </div>
                        <div class="form-group row mb-2">
                            <label for="password" class="col-sm-6 col-form-label" >PASSWORD: </label>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user" name="password"
                                placeholder="password" [(ngModel)]="usr_Registrate.password">
                            </div>
                            

                        </div>
                        <div class="form-group row mb-2">
                            <label for="password" class="col-sm-6 col-form-label" >PREFERRED GENDER: </label>
                            <div class="col-sm-6">
                                <select class="form-select" name="preferredGender"  [(ngModel)]="usr_Registrate.preferredGender">
                                    <option value="H" >H</option>
                                    <option value="M" >M</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="password" class="col-sm-6 col-form-label" >GENDER: </label>
                            <div class="col-sm-6">
                                <select class="form-select" name="preferredGender"  [(ngModel)]="usr_Registrate.gender">
                                    <option value="H" >H</option>
                                    <option value="M" >M</option>
                                    </select>
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label for="age" class="col-sm-6 col-form-label" >AGE: </label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" name="age" placeholder="age"
                                [(ngModel)]="usr_Registrate.age">
                            </div>
                            

                        </div>
                        <div class="form-group">
                            <button  class="btn btn-primary mt-2" type="submit">
                                Registrar
                            </button>
                            <a routerLink="/" class="btn btn-link">HOME</a>
                        </div>
                        <hr>
                    </form>
            </div>
        </div>


    </div>
</div>